body {
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.header {
    text-align: center;
    padding: 32px;
}

.header img {
    width: 50px;
    height: auto;
}

.header p {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
}

.body {
    flex: 1;
    align-self: center;
}

.form label {
    color: #404040;
}

.form label, .form a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

.form input {
    display: block;
    width: 100%;
    border-radius: 3px;
    margin: 8px 0px;
    outline: none;
    height: 32px;
    border: 2px solid #eee;
    font-size: 16px;
    box-shadow: 1px 1px 5px #eee;
    padding: 0px 0px;
}

.form input:focus {
    border: 2px solid #00bfff;
    outline: none;
}

.form button {
    width: 100%;
    margin-top: 16px;
    border: none;
    color: #fff;
    padding: 8px 16px;
    background: #00b300;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px grey;
}

.forgot-password {
    display: flex;
    justify-content: space-between;
}

.form, .create-account {
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 1px 1px 5px grey;
    border-radius: 3px;
    width: 300px;
    color: #404040;
}

.form a, .create-account a {
    color: #0099cc;
}

.form {
    padding: 16px 24px;
}

.create-account {
    margin-top: 16px;
    padding: 16px 24px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer a {
    color: grey;
    font-weight: 700;
    font-size: 14px;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.footer {
    padding: 16px;
}
